:root{
    --ChilangosOrange: #ef5b30;
    --ChilangosLightOrange: #ED7D27;
    --ChilangosBlack: #141414;
    --ChilangosGray: #41423A;
    --ChilangosWhite: #F7F7F7;
    --ChilangosOffWhite: #ECE2D2;
    --ChilangosYellow: #FFC247;

    --ChilangosTeal: #1E857F;
    --ChilangosDeepBlue: #004B6B;
    --ChilangosWarmBrown: #8C4A2F;
}